.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    max-height: 90%;
  }
  h1 {
    color: #ffd700;
    font-size: 4rem;
    margin: 0;
    font-family: 'poppins';
    font-weight: 400;
    letter-spacing: 0.5rem;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 20px;
      position: absolute;
      left: 5%;
      opacity: 0.6;
      margin-top: -5%;
      animation: fadeIn 1s 1.7s backwards;
      letter-spacing: 0;
    }

    &::after {
      content: '<h1>';
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 30px;
      position: absolute;
      opacity: 0.6;
      margin-top: -5%;
      margin-left: 400px;
      animation: fadeIn 1s 1.7s backwards;
      letter-spacing: 0;
    }

    img {
      width: 5rem;
      margin-left: 20px;
      margin-right: 10px;
      opacity: 0;
      height: 7rem;
      animation: rotateIn 1s linear both;
      animation-delay: 1.5s;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 1rem;
    font-weight: 400;
    font-family: 'poppins';
    letter-spacing: 3px;
    font-size: 2rem;
    animation: fadeIn 1s 1.8s backwards;
  }
  .flat-button {
    margin-top: 1.5rem;
    color: #ffd700;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 3px;
    font-family: 'poppins';
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #ffd700;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #ffd700;
      color: #333;
    }
  }
}

.home-page h1 img {
  margin-left: 0;
}

@media screen and (max-width: 1200px) {
  .home-page {
    height: 120vh;
  }
  .text-zone {
    position: initial;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;

    h1 {
      font-size: 2.5rem;
      margin-top: 2.5rem;

      &::before,
      &::after {
        display: none;
      }
    }

    img {
      margin: 0;
      height: 1rem;
    }
  }
  .flat-button {
    float: none;
    display: block;
    margin: 20px auto 0 auto;
    width: 160px;
  }
  .namearray {
    width: 320px;
    font-size: 2rem;
    margin-top: 5%;
  }
  .home-page h1 img {
    width: 3rem;
    height: 4rem;
    margin-left: 0;
  }

  .roleArray {
    font-size: 2rem;
    margin-top: 5%;
  }
  .home-page h2 {
    margin-top: 20%;
    line-height: 3rem;
    font-size: 2rem;
  }
}
