html {
  font-size: 65%;
}

body {
  margin: 0;
  font: 300 14px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  background: #022c43;
  overflow: hidden;
  display: block;
  font-smooth: auto;
}

@media screen and (max-width: 1200px) {
  body {
    overflow: visible;
  }
}
